main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-join-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-name h2 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.container-item-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.container-item-left img {
    width: 40px;
    height: 40px;
    margin: 0 2px 0 2px;
}

.container-inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.container-inventory-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-inventory-item h4 {
    text-transform: capitalize;
    white-space: nowrap;
}

.container-inventory img {
    image-rendering: pixelated;
    width: 100px;
    height: auto;
}

.lower-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-item-right {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.container-carrying {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.container-carrying img {
    image-rendering: pixelated;
    width: 100px;
    height: auto;
}

#player-skin {
    image-rendering: pixelated;
    width: 200px;
    height: auto;
}

#level {
    color: lawngreen;
    text-shadow:
        -4px -4px 0 #000,
        4px -4px 0 #000,
        -4px 4px 0 #000,
        4px 4px 0 #000;
}

@media (max-width: 1200px) {
    main {
        flex-direction: column;
        justify-content: start;
    }

    .container-item-right {
        justify-content: space-evenly;
    }

    .container-inventory-item {
        width: auto;
    }
}

@media (max-width: 800px) {
    .container-item-right {
        flex-direction: column;
    }

    .container-item-left img {
        width: 30px;
        height: 30px;
        margin: 0 2px 0 2px;
    }
}